body {
    font-family: 'Open Sans', sans-serif;
}

h1, h3 {
    color: #4A90E2;
}

.card {
    border-radius: 10px;
}

.btn-primary {
    background-color: #4A90E2;
    border: none;
}

.btn-outline-primary {
    border-color: #4A90E2;
    color: #4A90E2;
}

.btn-outline-primary:hover {
    background-color: #4A90E2;
    color: #fff;
}

.navbar-brand {
    font-weight: bold;
    color: #4A90E2;
}
